// creation des classes permettant de gerer la taille des polices
// Exemple: .fs18, .fs32...
$intSizes: (
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  48,
  52,
  60,
  80
);

@each $intSize in $intSizes {
  $pixelValue: number-to-pixel($intSize);

  .fs#{$intSize} {
    @include font-size-to-rem($pixelValue);
  }
}

.ln1 {
  line-height: 1rem;
}

.ln2 {
  line-height: 2rem;
}

/* ------------------------------------------------

 Helpers:
 - style
 - align

------------------------------------------------ */

.text-center,
.has-text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ------ STYLE / WEIGHT */
.is-light {
  font-weight: 300;
}

.is-normal,
.is-regular {
  font-weight: 400;
}

.is-medium {
  font-weight: 500;
}

.is-semi-bold {
  font-weight: 600;
}

.is-bold {
  font-weight: 700;
}

.is-extra-bold {
  font-weight: 800;
}

.is-italic {
  font-style: italic;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-capitalized {
  // capitalize each words first letter
  text-transform: capitalize;
}
