.deck {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .react-draggable {
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 250ms;
  }
<<<<<<< HEAD

  ul.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 75%;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity 250ms ease, visibility 250ms ease;
    z-index: 1;
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
    li {
      position: relative;
      .button {
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        &.to-recto {
          position: absolute;
          top: -40px;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .loading {
    background-color: $menu-red;
    opacity: 0;
    z-index: -1000;
    transition: opacity 1s 1s, z-index 1s 2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &.shown {
      opacity: 1;
      z-index: 2;
    }
    div {
      color: white;
    }
  }

  .board-wrapper {
    bottom: 0;
=======
>>>>>>> f5c0502897a0a7432f3ddbc892be2d45161d5922

  ul.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 75%;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity 250ms ease, visibility 250ms ease;
    z-index: 1;
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
<<<<<<< HEAD

    .board {
      position: absolute;
      background-color: transparent;
      background-size: 100% auto;
      width: 100%;
      height: 100%;
      z-index: 100;
      .deck-gradient {
        position: relative;
        top: -50px;
        width: 100%;
        height: 50px;
      }

      ul.controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
=======
    li {
      position: relative;
      .button {
>>>>>>> f5c0502897a0a7432f3ddbc892be2d45161d5922
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        &.to-recto {
          position: absolute;
          top: -40px;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .close {
    z-index: 1100;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 5px;
    width: 16px;
    font-size: 0;
    height: 16px;
    box-sizing: content-box;
  }
}
.android-with-statusbar .close {
  top: 2rem;
}
