.edit-offer {
  height: 75vh;
  &__name {
    border-bottom: 2px solid black;
  }
  img {
    height: auto;
    width: 200px;
    @media (min-width: $md) {
      height: auto;
      width: 300px;
    }
  }
}
