.verso {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 250ms;
  top: 0;
  bottom: 0;
  z-index: 500;
  transform: translate(0, 100%);
  will-change: transform;
  height: 100%;

  &.flipped {
    transform: translate(0, 0);
  }

  &.with-header {
    margin-top: $header-height;
  }

  .verso-header {
    .drag {
      color: green;
      margin-top: -50px;
      height: 50px;
      width: 100%;
    }
  }

  .over-wrapper {
    margin-top: 50%;
  }
}
