[class^='pc-final-form-'] {
  // reset des styles de tous les éléments
  // dont la classe commence par `pc-final-form-`
  border: 0;
  border-radius: 0;
  background: tansparent;
}

.pc-final-form-text,
.pc-final-form-password {
  .pc-final-form-label {
    @extend .pb7;
    @extend .fs16;
    @extend .is-block;
  }

  .pc-final-form-asterisk {
    @extend .ml3;
    @extend .is-primary-text;
  }

  .pc-final-form-inner {
    @extend .flex-columns;

    width: 100%;
    overflow: hidden;
    background-color: $white;
    border-radius: rem(20px);
    border: 2px solid $grey-light;
  }

  .pc-final-form-input {
    @extend .py7;
    @extend .px18;
    @extend .fs17;
    @extend .flex-1;
    @extend .is-block;
    @extend .no-border;
    @extend .no-outline;
    @extend .is-semi-bold;
  }
}

.pc-final-form-errors .pc-error-message + .pc-error-message {
  // si on a plusieurs erreurs pour un seul champs
  @extend .pt5;
}
