/* -------------------------------------------------

 DISPLAYS

------------------------------------------------- */

.is-block {
  display: block;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

.is-clipped {
  overflow: hidden !important;
}

.is-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.is-full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* -------------------------------------------------

 NEGATES

------------------------------------------------- */

.no-border {
  border: 0;
}

.no-background {
  background-color: transparent;
}

.no-outline {
  outline: none;
}

.no-pointer {
  cursor: default;
}

/* -------------------------------------------------

 PADDINGS

------------------------------------------------- */

.padded {
  // default padding to 1rem
  // appliquer aux pages, aux sections de pages
  padding: $page-padding;
}

/* -------------------------------------------------

 TEXTS

------------------------------------------------- */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-capitalized {
  // capitalize each words first letter
  text-transform: capitalize;
}

.is-grey-text {
  color: $grey;
}

.is-white-text {
  color: $white;
}

.is-black-text {
  color: $black;
}

.is-primary-text {
  color: $primary;
}
