.verso {
  .verso-control {
    @extend .is-clipped;

    height: 62px;
    min-height: 62px;
    list-style: none;
  }

  .verso-control li {
    @extend .text-center;
    @extend .is-inline-block;
  }

  .verso-control .finishable {
    // -> voir fichier finishable.scss
  }
}
